@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .container {
    @apply max-w-[1200px] px-[15px] self-center mx-auto ;
  }
}

@layer utilities {
  .grid-auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
  .shadow-item {
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.1);
  }
}

html{
  height: 100%;
  overflow-x: hidden;
}

*{
  box-sizing: border-box;
  margin: 0;
	padding: 0;
}

body{
  min-height: 100vh;
  font-family: var(--roboto-regular);
  overflow-x: hidden;
}

.button-green{
  background: linear-gradient(180deg, #649465 0%, #2B4E2D 100%);
}

